## Load python modules

In [6]:
import pandas as pd

In [7]:
import json

In [30]:
import requests

## Read Simple Json

In [15]:
df = pd.read_json("data/simple_json.json")

In [16]:
df

   id                           titulo             Autor
0   1                   Algebra Linear    Paulo Winterle
1   2              Geometria Analitica     John Fraleigh
2   3                O tempo e o Vento    Erico Verrismo
3   4  Memorias Postumas de Bras Cubas  Machado de Assis
4   5               História do Brasil      Boris Fausto
5   6          A Real Historia do Real       Maria Prado

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   title   3 non-null      object
 1   author  3 non-null      object
dtypes: object(2)
memory usage: 176.0+ bytes

## Read Nested Json

In [17]:
df_nested = pd.read_json("data/nested_json.json")

In [18]:
df_nested

  Biblioteca  ...                                             Livros
0    Central  ...  [{'id': 1, 'titulo': 'Algebra Linear', 'Autor'...
1      Norte  ...  [{'id': 1, 'titulo': 'O tempo e o Vento', 'Aut...
2        Sul  ...  [{'id': 1, 'titulo': 'História do Brasil', 'Au...

[3 rows x 3 columns]

In [19]:
# To avoid to have inserted nested dicts in a variable, python has json_normalize to real with nested objects
# load data using Python JSON module
with open('data/nested_json.json','r') as f:
    data = json.loads(f.read())
    
# Flatten data
df_nested = pd.json_normalize(data, record_path =['Livros'])
df_nested

   id                           titulo             Autor
0   1                   Algebra Linear    Paulo Winterle
1   2              Geometria Analitica     John Fraleigh
2   1                O tempo e o Vento    Erico Verrismo
3   2  Memorias Postumas de Bras Cubas  Machado de Assis
4   1               História do Brasil      Boris Fausto
5   2          A Real Historia do Real       Maria Prado

In [20]:
# To include Biblioteca and Tipo
# record_path receives/set the level/deep 
# meta receives / set the meta attributes to be used. (level up)
df_nested = pd.json_normalize(
    data, 
    record_path =['Livros'], 
    meta=['Biblioteca', 'Tipo']
)
df_nested

   id                           titulo  ... Biblioteca                   Tipo
0   1                   Algebra Linear  ...    Central                 Exatas
1   2              Geometria Analitica  ...    Central                 Exatas
2   1                O tempo e o Vento  ...      Norte  Literatura Brasileira
3   2  Memorias Postumas de Bras Cubas  ...      Norte  Literatura Brasileira
4   1               História do Brasil  ...        Sul               História
5   2          A Real Historia do Real  ...        Sul               História

[6 rows x 5 columns]

## Handle Read Deep Nested Json and Dict Objects

In [26]:
with open('data/deep_nested_json.json','r') as f:
    data = json.loads(f.read())
    
# Flatten data
df_nested_complex = pd.json_normalize(data, record_path=['Livros'], meta=[['Info','endereco'],['Info','cidade'],['Info','acessibilidade']])
df_nested_complex

   id                           titulo  ...   Info.cidade Info.acessibilidade
0   1                   Algebra Linear  ...  porto alegre                 sim
1   2              Geometria Analitica  ...  porto alegre                 sim
2   1                O tempo e o Vento  ...  porto alegre                 nao
3   2  Memorias Postumas de Bras Cubas  ...  porto alegre                 nao
4   1               História do Brasil  ...      alvorada                 sim
5   2          A Real Historia do Real  ...      alvorada                 sim

[6 rows x 6 columns]

## Request API json objects

In [28]:
# Create dictionary to query API for cafes in NYC
api_url = "https://api.yelp.com/v3/businesses/search"
parameters = {"term": "cafe",
          	  "location": "NYC"}
headers = {'Authorization': 'Bearer mhmt6jn3SFPVC1u6pfwgHWQvsa1wmWvCpKRtFGRYlo4mzA14SisQiDjyygsGMV2Dm7tEsuwdC4TYSA0Ai_GQTjKf9d5s5XLSNfQqdg1oy7jcBBh1i7iQUZBujdA_XHYx'}

In [33]:
# Query the Yelp API with headers and params set
response = requests.get(api_url, 
                        headers=headers, 
                        params=parameters)

# Extract JSON data from response
data = response.json()

In [ ]:
# Load "businesses" values to a data frame and print head
cafes = pd.DataFrame(data["businesses"])
print(cafes.head())